<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="style.css" rel="stylesheet">
    <title>Декларативная отрисовка</title>
</head>
<body>
<div id="app">
  {{ message }}
  <h1>{{expression}}</h1>
  <span v-bind:title="title">
    Наведи на меня курсор на пару секунд,
    чтобы увидеть динамически связанное значение title! <br>
  </span>
  <span :title="title">
      <em>Можно опускать v-bind</em><br> 
    Наведи на меня курсор на пару секунд,
    чтобы увидеть динамически связанное значение title!
    
  </span>
</div>
<script src="main.js"></script>
</body>

</html>    
