<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://kit.fontawesome.com/e6d21acb73.js"></script>
	
</head>
<body>
	<div id="app">
		<header>
			<button @click="show =! show">
				<i class="fas fa-bars"></i>
			</button>
		</header>
		<transition name="slide">
			<aside v-show="show"></aside>
		</transition>
		<h1>Вывод в консоль по ENTER</h1>
		<input type="text" v-model="message" @keyup.enter="onClick">
  
  <h1>Ввод определенного количества текста</h1>
  <p>{{count}}/30</p>
  <textarea name="" id="" cols="30" rows="10" v-model="text"></textarea> <br>
<button v-if="count<=30">Отправить</button>  
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>
</html>