<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="style.css" rel="stylesheet">
    <title>Условия и циклы</title>
</head>
<body>
<div id="app">
  <span v-if="seen"> Сейчас меня видно </span>
  <span v-if="seen2"> Сейчас меня совсем не видно </span>
  <ol>
    <li v-for="list in lists">
      {{list}}
    </li>
  </ol>
</div>
<script src="main.js"></script>
</body>

</html>    
