<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Примеры</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app1">
  <h1>{{expression}}</h1>
  <p>{{description}}</p>
  </div>

  <div id="app2">
    <a :href="google">Ссылка на Google</a>
  </div>

<br>

  <div id="app3">
    <span v-if="onSale">В продаже</span>
    <span v-else>Отсутствует</span>
  </div>

<br>

  <div id="app4">
    <il>
      <li v-for="size in sizes">{{size}}</li>
    </il>
  </div>

  <div id="app5">
    <p>Меняющееся значение: {{cart}}</p>
    <button @click="plus">Прибавить 1</button>
    <button v-on:click="minus" 
            :disabled="has"
            :class="{button: has}">Отнять 1</button>
    <div v-for="list in lists">
      <p @mouseover="newFoto(list.img)">{{list.name}}</p>
    </div>
    <img :src="image">
  </div>

  <div id="app7">
    <p>Количество манго: {{cart}}</p>
    <button @click="plus">Прибавить 1</button>
    <button v-on:click="minus" 
            :disabled="has"
            :class="{button: has}">Отнять 1</button>
    <p v-if="cart >= 5"> {{saleS}} </p>
    <p v-else=>Скидки нет</p>
  </div>

  <script src="main.js"></script>
</body>
</html>