<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Работа с пользовательским вводом</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Перевернуть сообщение</button>
      </div>
      <div id="app-6">
          <p>Привет, {{ message }}!</p>
          <input v-model="message">
        </div>
  <script src="main.js"></script>
</body>
</html>