<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Разбиение приложения на компоненты</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
  <ol>
    <todo-item
      v-for="item in groceryList"
      :todo="item"
    ></todo-item>
  </ol>
  </div>
  <script src="main.js"></script>
</body>
</html>